
.nav-link {
    text-decoration-color: white;
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration-color: white;
    border-bottom: 2px solid white;
    font-weight: bold;
    text-transform: uppercase;
}

a.btn:hover {
    background-color: white;
    text-transform: uppercase;
}